html,body,#root,.App{
  width: 100% ;
  height: 100% ;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main-content{
  padding-top: 60px;
  height: 100% ;
  display: flex ;
  flex-direction: row ;
}

.main-content .content-left{
  width: 220px;
  height: 100% ;
  border-right: 1px solid #EEE ;
  border-top: 1px solid #EEE ;
}
.main-content .content-right{
  flex-grow:2;
  padding: 0 5px;
  height: 100% ;
}
.list_group{
  margin: 0 ;
  padding: 0 6px ;
  list-style: none ;
}
.list_item{
  padding: 0 ;
  margin: 0 ;
  height: 30px ;
  line-height: 30px ;
  cursor: pointer ;
  border-bottom: 1px solid #EEE ;
}
.list_item a{
  text-decoration:none ;
  color: #333;
  cursor: pointer ;
}
.list_item:hover{
  background-color:#EEE ;
}

